.btn{
    margin:0 auto;
    display:block;
    border-radius: 0;
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: white;
    font-size: 17px;
    border: 2px solid white;
    transition: 0.2s $standard-curve;
}
.btn:hover{
    background-color: #fff;
    color: darken($secondaryColor, 15%);
    cursor: pointer;

}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.nav{
    height: 60px;
    line-height: 60px;
    background-color: $primaryColor;
    color: white;
        a{
            color: white;
            text-decoration: none;
        }
         a:hover{
             text-decoration: underline;
        }
        
    .logoContainer{
        float: left;
        margin-left: 5%;
        h1{
            margin: 0;
            font-size: 1.8rem;
            font-family: 'Raleway', sans-serif;
        }
        
    }
    .loginContainer{
        float: right;
        margin-right: 5%;
        display: inline-block;
        font-size: 1.1rem;
        position: relative;
        span{
            cursor: pointer;
            .accountArrow{
                transition: 0.2s $standard-curve;
            }
            &:hover{
                text-decoration: underline;
                color: white;
                .accountArrow{
                    color: lighten($accentColor, 20%);
                 }
            }
        }
        
        a:hover{
            text-decoration: underline;
            
        }   
        .accountDropdown{
            display: inline-block;
            position: absolute;
            display: none;
            background-color: lighten($grey, 10%);
            padding-left: 45px;
            border: 1px solid lighten($primaryColor,20%);
            border-top: none;
            padding-right: 45px;
            margin-left: -15px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            text-align: center;
            
            a{
                color: lighten($accentColor, 5%);;
                width: 100%;
                // padding-left: 10px;
                padding-right: 10px;
                display: inline-block;
            }
            hr{
                width: 100%;
                padding-left: 87px;
                margin-left: -45px;
                outline: none;
                border: 1px solid lighten($primaryColor,20%);
                margin-bottom: 0;
                margin-top: 0;
            }
}
    }
}

.searchContainer{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    .searchBar{
        margin: auto;
        height: 2vh;
        transition: 0.5s;
        input,button{
            display: inline-block;
            padding: 10px 15px;
            font-size: 20px;
            border-radius: 0;
            -webkit-appearance: none;
            border: 2px solid $grey;
            color: darken($grey, 30%);
            transition: 0.3s $standard-curve;
            &:focus{
                outline:none;
                border-color: $accentColor;
                
            }
        }
        button{
            cursor: pointer;
        }
        input{
            width: 40vw;
        }
        input::placeholder{
            color: darken($grey, 30%);;
        }
        button:hover{
            background-color: $accentColor;
            color: white;
            border-radius: 5px;
            border-color: $accentColor;
            // border-left: 4px solid white;
            // border-right: 4px solid white;
            // margin-left: 1px;
            // outline: none;
        }
    }
   
}

.categoryPanelContainer{
    width: 100%;
    background-color: darken($grey, 5%);
    margin: auto;
    margin-top: 80px;  
    height: auto;

    
    .categoryPanel{
        margin: auto;
        width: 90%;
        button{
            transition: 0.2s $standard-curve;
            width: 12%;
            border-radius: 0;
            height: 40px;
            border: 0;
            background-color: darken($grey, 5%);
            color: darken($grey, 40%);
            margin-left: 0px;
            margin-right: 0px;
            cursor: pointer;
        }
        button:hover{
            background-color: darken($grey, 10%);

        }
    }

}

#loading{
    width: 100vw;
    background-color: #fff;
    height: 100vh;
    color: $primaryColor;
    position: absolute;
    z-index: 2000;
    padding-bottom: 20%;
    text-align: center;
    font-size: 150px;
    line-height: 80vh;
    display: none;
}
.spin{
    display: inline-block;
    animation: rotate infinite 1s linear;
}
@keyframes rotate {
    0% {
        color: $primaryColor;
        transform: rotate(0deg);
    }
    40% {
        color: lighten($green, 10%);
        transform: rotate(144deg);
    }
    60% {
        color: #ffb300;
        transform: rotate(216deg);
    }
    80% {
        color:$accentColor;
        transform: rotate(288deg);
    }
    100% {
        color: $primaryColor;
        transform: rotate(359.999999deg);
    }
}