.searchContainer{
    width: 100%;
    .categoryColumn{
        width: 20%;
        margin-top: 30px;
        height: 1000px;
        float: left;
      

        .btn{
            background-color: $primaryColor;
            color: white;
            border-color: $primaryColor;
            margin-top: 30px;
            &:hover{
                background-color: white;
                color: $primaryColor;
            }
        }
        hr{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        h2{
            text-align: center;
            background-color: $primaryColor;
            margin-top: 0;
            padding-bottom: 15px;
            padding-top: 15px;
            color: white;
            font-weight: 100;
        }

        .categoryPicker{
            p{
                margin-left: 40px;
                font-weight: bolder;
                font-size: 17px;
                margin-bottom: 0;

            }
            
        }
        .filter{
            margin-left: 40px;
            p{
                font-size: 16px;
                font-weight: bolder;
            }
            label{
                cursor: pointer;
                color: darken($grey, 40%);
                transition: 0.2s $standard-curve;
                &:hover{
                    color: black;
                    outline: green;
                }
            }
            input{
                display: inline;
                float: left;
                margin-right: 10px;
                margin-top: 5px;
            }
        }

        
        .price{
            margin-left: 40px;
            input{
                width: 50px;
                height: 25px;
                font-size: 15px;
                border: 1px solid $grey;
                display: inline;
                &:focus{
                    outline: none;
                    border-color: $primaryColor;
                }
            }
        }
    }
    .itemColumn{
        width: 80%;
        margin-top: 30px;
        height: 1000px;
        float: left;
        background-color: lighten($grey, 10%);

        .sort{
            margin-left: 50px;
            p{
                display: inline-block;

            }
            .btn{
                background-color: $grey;
                display: inline-block;
                color: darken($grey, 30%);
                border-color: darken($grey, 30%);
                height: 30px;
            }
        }
        .item{
            width: 100%;
            float: left;
            border: 1px solid $grey;
            .itemInfo{
                // padding-top: 10px;
                // margin-left: 50px;
                width: 79%;
                display: block;
                float: left;
                a{
                    color: blue;
                    text-decoration: none;
                    padding-left: 50px;
                    &:hover{
                        text-decoration: underline;
                    }
                 }
            }
            
            .itemImg{
                width: 20%;
                max-height: 220px;
                float: left;
                border: 1px solid $grey;
                display: block;
            }
        
        }
    }

}


select{
        -webkit-appearance: button;
        -webkit-border-radius: 2px;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-padding-end: 20px;
        -webkit-padding-start: 2px;
        -webkit-user-select: none;
        background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' style='fill: grey;' width='30px' height='20px'><polyline points='18,5 9,15 0,5'/></svg>");
        background-position: 97% center;
        background-repeat: no-repeat;
        border: 1px solid #AAA;
        color: #555;
        font-size: inherit;
        margin: 20px;
        overflow: hidden;
        padding: 5px 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 150px;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 12px;
        margin-left: 40px;
        margin-bottom: 0;
        &:focus{
            outline: none;
        }
        &:hover{
            border-color: $accentColor;
        }
    }