.searchContainer{
    width: 100%;
    .categoryColumn{
        width: 20%;
        margin-top: 30px;
        height: 1000px;
        float: left;
      
        .filterBtnContainer{
            display: flex;
            justify-content: center;
            align-content: center;
        }
        .btn{
            background-color: $primaryColor;
            color: white;
            border-color: $primaryColor;
            margin-top: 30px;
            display: inline-block;
            width: 50%;
            margin-left: 5px;
            margin-right: 5px;
            &:hover{
                background-color: white;
                color: $primaryColor;
            }
        }
        .btn-clear{
            width: 35%;
            width: 100px;
            background-color:white;
            color: darken($grey, 10%);
            border-color: darken($grey, 10%);
            &:hover{
                color: darken($grey, 30%);
                border-color: darken($grey, 30%);
            }
        }
        hr{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        h2{
            text-align: center;
            background-color: $primaryColor;
            margin-top: 0;
            padding-bottom: 15px;
            padding-top: 15px;
            color: white;
            font-weight: 100;
        }

        .categoryPicker{
            p{
                margin-left: 40px;
                font-weight: bolder;
                font-size: 17px;
                margin-bottom: 0;

            }
            
        }
        .filter{
            margin-left: 40px;
            p{
                font-size: 16px;
                font-weight: bolder;
            }
            label{
                cursor: pointer;
                color: darken($grey, 40%);
                transition: 0.2s $standard-curve;
                &:hover{
                    color: black;
                    outline: green;
                }
            }
            input{
                display: inline;
                float: left;
                margin-right: 10px;
                margin-top: 5px;
            }
        }

        
        .price{
            margin-left: 40px;
            input{
                width: 50px;
                height: 25px;
                font-size: 15px;
                border: 1px solid $grey;
                display: inline;
                &:focus{
                    outline: none;
                    border-color: $primaryColor;
                }
            }
        }
    }
    .itemColumn{
        width: 80%;
        margin-top: 30px;
        height: 1000px;
        float: left;
        // padding-left: 5%;
        background-color: lighten($grey, 10%);

        .sort{
            float: right;
            width: 20%;
            margin-top: -60px;
            // padding-top: 10px;
            padding-right: 20px;
            padding-bottom: 10px;
            p{
                display: inline-block;
                margin: 0;

            }
            select{
                margin-left: 10px;
                // width: 180px;
            }
            
        }
        
    }

}
.item {
    width: 100%;
    float: left;
    border: 1px solid $grey;
    display: flex;
    height: 250px;
    transition: 0.2s $standard-curve;
    &:hover{
        h3{
            text-decoration: underline;
        }
        .itemImg{
            border-color: darken($grey, 5%);
        }
    
        border-color: darken($grey, 15%);
    }
    .itemInfo {
        // padding-top: 10px;
        padding-left: 50px;

        width: 50%;
        display: block;
        float: left;
        .itemCondition{
            color: rgb(63, 63, 63);
        }
        .itemSeller{
            color: rgb(63, 63, 63);
        }
        a {
            // color: blue;
            color: black;
            text-decoration: none;
            padding-left: 50px;
            margin-bottom: 0;
            
            &:hover {
                text-decoration: underline;
            }
        }
        h4{
            margin-top: 0;
        }
        h5{
            color: rgb(63, 63, 63);
        }
        .itemPrice{
            font-size: 18px;
            color: white;
            border: 1px solid $grey;
            background-color: $accentColor;
            border-radius: 5px;
            display: inline-block;
            padding: 5px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    img {
        width: 100px;
        object-fit: contain;
        max-height: 220px;
        margin-left: 20px;
        align-self: center;
    }
    .itemImg {
        width: 20%;
        float: left;
        border: 1px solid $grey;
    }
}

select{
        -webkit-appearance: button;
        -webkit-border-radius: 2px;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-padding-end: 20px;
        -webkit-padding-start: 2px;
        -webkit-user-select: none;
        background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' style='fill: grey;' width='30px' height='20px'><polyline points='18,5 9,15 0,5'/></svg>");
        background-position: 97% center;
        background-repeat: no-repeat;
        border: 1px solid #AAA;
        color: #555;
        font-size: inherit;
        margin: 20px;
        overflow: hidden;
        padding: 5px 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 150px;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 12px;
        margin-left: 40px;
        margin-bottom: 0;
        &:focus{
            outline: none;
        }
        &:hover{
            border-color: $accentColor;
        }
    }