body.sellItemBody{
    background-color: lighten($grey,5%);
}

.sellInputBlock{
    width: 60%;
    background-color: #fff;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    border-radius: 10px;
    

    &:first-of-type{
        margin-top: 50px;
    }

    .sellInputContent{
        padding-top: 10px;
        padding-left: 40px;
        text-align: center;
        h2, h3, p, span{
            text-align: left;
        }
        h3{
            font-size: 15px;
            margin-bottom: 25px;
            color: darken($grey, 40%);
        }
        hr{
            margin-top: 40px;
            margin-bottom: 30px;
            width: 100%;
            margin-left: -40px;
            padding-right: 39px;
            border-color: lighten($grey, 20%);
        }
        #itemNameInput{
            width: 92%;
            margin-left: -40px;
            height: 35px;
            border-radius: 5px;
            outline: none;
            border: 2px solid $grey;
            font-size: 16px;
            padding-left: 15px;
            transition: 0.3s $standard-curve;
            &::placeholder{
                color: darken($grey, 5%);
                transition: 0.3s $standard-curve;
            }
            &:focus{
                border-color: $accentColor;
                &::placeholder{
                    color: lighten($accentColor, 15%);
                }
            }
        }
        

    }
}

.nameInputIndicator{
    width: 100%;
    display: inline-block;
    text-align: left;
    padding-left: 5px;
    margin-top: 20px;
    .bar{
        width: 40px;
        display: inline-block;
        background-color: #ffccbc;
        height: 10px;
        border-radius: 5px;
        position: relative;
    }
    .barFill{
        width: 10px;
        background-color: #f4511e;
        height: 10px;
        position: absolute;
        border-radius: 5px;
        transition: 0.3s $standard-curve;
        
    }
  
    p{
        display: inline;
        padding-left: 10px;
    }
    .nameInputIndicatorDetail{
        color: darken($grey, 10%);
    }
}

.detailsSection{
    // text-align: left;
    .detailsSelectWrap{
        width: 40%;
        margin: auto;
        text-align: left;
        position: relative;
        p{
            display: inline-block;
            text-align: left;
        }
    }
    select{
        -webkit-appearance: button;
        -webkit-border-radius: 2px;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-padding-end: 20px;
        -webkit-padding-start: 2px;
        -webkit-user-select: none;
        background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' style='fill: grey;' width='30px' height='20px'><polyline points='18,5 9,15 0,5'/></svg>");
        background-position: 97% center;
        background-repeat: no-repeat;
        border: 1px solid #AAA;
        position: absolute;
        right:0;
        color: #555;
        font-size: inherit;
        margin: 20px;
        overflow: hidden;
        padding: 5px 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 20px;
        width: 120px;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 12px;
        &:focus{
            outline: none;
        }
        &:hover{
            border-color: $accentColor;
        }
    }
    input[type=text]{
        height: 25px;
        border-radius: 5px;
        outline: none;
        border: 2px solid $grey;
        transition: 0.3s $standard-curve;
        position: absolute;
        right: 0;
        margin-right: 20px;
        font-size: 14px;
        margin-top: 10px;
        width: 110px;
        padding-left: 5px;
        &::placeholder{
            padding-left: 5px;
            color: $grey;
            transition: 0.3s $standard-curve;
        }
        &:hover{
            border-color: lighten($accentColor,15%);
            &::placeholder{
                color: lighten($accentColor,15%);
             }
        }
        &:focus{
            border-color: $accentColor;
            &::placeholder{
                color: $accentColor;
             }
        }
    }
    .descriptionLabel{
        margin-left: 15%;
        &:nth-of-type(2){
            color: darken($grey, 20%);
        }
        p{
        }
    }
    textarea{
        width: 70%;
        resize: none;
        height: 150px;
        border: 2px solid $grey;
        border-radius: 5px;
        transition: 0.3s $standard-curve;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 50px;
        &:hover{
            border-color: lighten($accentColor,15%);
        }
        &:focus{
            border-color: $accentColor;
            outline: 0;
        }
    }
  
 
}

.pricingBlockContainer{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
    margin-top: 40px;
    .pricingBlock{
        width: 40%;
        border: 2px solid $grey;
        margin-left: -40px;
        padding: 10px;
        border-radius: 5px;
        transition: 0.3s $standard-curve;
        text-align: center;
        h3{
            color: black;
            font-size: 18px;
        }
        &:hover{
            border-color: lighten($accentColor,15%);
        }
      
        input[type=radio]{
            display: inline-block;
        }
        input[type=number]{
            display: inline-block;
            width: 50%;
            height: 35px;
            border: 2px solid $grey;
            border-radius: 5px;
            transition: 0.3s $standard-curve;
            font-size: 16px;
            padding-left: 5px;
            &::placeholder{
            
            }

                &:hover{
                    border-color: lighten($accentColor,15%);
                }
                &:focus{
                    border-color: $accentColor;
                    outline: 0;
                }

        }
        .icon-dollar-sign{
            border: 2px solid white;
            color: white;
            background-color: lighten($accentColor, 15%);
            border-radius: 100%;
            padding: 3px;
            margin-left: 20px;
        }
        label{
            margin-right: 15px;
        }
        span{
            display: inline-block;
        }
        h3{
            display: inline-block;
        }

    }

    .pricingBlock-active{
        border-color: $accentColor;
        .icon-dollar-sign{
            border: 2px solid white;
            color: white;
            background-color: darken($accentColor, 10%);
        }
        input[type=number]{
            border-color: darken($accentColor,10%);
            &::placeholder{
                color: lighten($accentColor, 10%);
            }
            

        }
        &:hover{
            border-color: darken($accentColor, 10%);
        }

    }
}

.submitSellBtn{
    color: $primaryColor;
    border-color: $primaryColor;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.imageDropContainer{
    // background-color: $grey;
    min-height: 300px;
    border: 2px dashed $grey;
    text-align: center;
    margin-right: 40px;
    transition: 0.3s $standard-curve;

    .imageDropText{
        color: darken($grey, 10%);
        line-height: 300px;
    
    }

}
.imageDropHover{
    border: 2px dashed $green;
    background-color: lighten($green,40%);
    .imageDropText{
        color: black;
        text-decoration: underline;
    }
}
.imageDropPreviewContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    h3{
        width: 100%;
    }
    img{
        width: 33%;
        flex-basis: auto;
        height: auto;
    }
    h3.imageDrop-error{
        color: $red;
        border: 1px solid $red;
        margin-right: 40px;
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        
    }
}
