@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?vcj2jq");
  src: url("../fonts/icomoon.eot?vcj2jq#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?vcj2jq") format("truetype"), url("../fonts/icomoon.woff?vcj2jq") format("woff"), url("../fonts/icomoon.svg?vcj2jq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}

.icon-arrow-right:before {
  content: "\e901";
}

.icon-bookmark:before {
  content: "\e902";
}

.icon-check:before {
  content: "\e903";
}

.icon-dollar-sign:before {
  content: "\e904";
}

.icon-heart:before {
  content: "\e905";
}

.icon-help-circle:before {
  content: "\e906";
}

.icon-home:before {
  content: "\e907";
}

.icon-mail:before {
  content: "\e908";
}

.icon-plus:before {
  content: "\e909";
}

.icon-settings:before {
  content: "\e90a";
}

.icon-shopping-cart2:before {
  content: "\e90b";
}

.icon-thumbs-down:before {
  content: "\e90c";
}

.icon-thumbs-up:before {
  content: "\e90d";
}

.icon-trash-2:before {
  content: "\e90e";
}

.icon-truck:before {
  content: "\e90f";
}

.icon-user:before {
  content: "\e910";
}

.icon-users:before {
  content: "\e911";
}

.icon-x:before {
  content: "\e912";
}

.icon-shopping-bag:before {
  content: "\e913";
}

.icon-shopping-cart:before {
  content: "\e914";
}

.icon-search:before {
  content: "\e915";
}

.icon-lock:before {
  content: "\e916";
}

.icon-chevron-down:before {
  content: "\e917";
}

.icon-chevron-up:before {
  content: "\e918";
}

.icon-auction:before {
  content: "\e919";
}

.icon-camera:before {
  content: "\e91a";
}

.loginModalContainer, .registerModalContainer {
  position: absolute;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  margin: 0;
  background-image: -o-linear-gradient(45deg, #badbf6, #b1b9e1);
  background-image: -moz-linear-gradient(45deg, #badbf6, #b1b9e1);
  background-image: -webkit-linear-gradient(45deg, #badbf6, #b1b9e1);
  background-image: linear-gradient(45deg, #badbf6, #b1b9e1);
}

.loginModalContainer .loginModal, .registerModalContainer .loginModal {
  height: 80vh;
  width: 35vw;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-53%);
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.loginModalContainer .loginModal .registerLink, .registerModalContainer .loginModal .registerLink, .loginModalContainer .loginModal .signupForm .loginLink, .registerModalContainer .loginModal .signupForm .loginLink {
  text-align: center;
  width: 100%;
  padding-top: 40px;
  margin-left: 10px;
}

.loginModalContainer .loginModal h1, .registerModalContainer .loginModal h1 {
  background-color: #5faceb;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.loginModalContainer .loginModal h1 a, .registerModalContainer .loginModal h1 a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white;
}

.loginModalContainer .loginModal h1 a:hover, .registerModalContainer .loginModal h1 a:hover {
  text-decoration: underline;
}

.loginModalContainer .loginModal h2, .registerModalContainer .loginModal h2 {
  background-image: -o-linear-gradient(140deg, #5faceb, #0e4470);
  background-image: -moz-linear-gradient(140deg, #5faceb, #0e4470);
  background-image: -webkit-linear-gradient(140deg, #5faceb, #0e4470);
  background-image: linear-gradient(140deg, #5faceb, #0e4470);
  width: auto;
  max-width: 60%;
  margin: 0 auto;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.loginModalContainer .loginModal .signupTitle, .registerModalContainer .loginModal .signupTitle {
  background-image: -o-linear-gradient(140deg, #ffa726, #ff7043);
  background-image: -moz-linear-gradient(140deg, #ffa726, #ff7043);
  background-image: -webkit-linear-gradient(140deg, #ffa726, #ff7043);
  background-image: linear-gradient(140deg, #ffa726, #ff7043);
}

.loginModalContainer .loginModal .loginForm, .registerModalContainer .loginModal .loginForm, .loginModalContainer .loginModal .signupForm, .registerModalContainer .loginModal .signupForm {
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
}

.loginModalContainer .loginModal .loginForm p, .registerModalContainer .loginModal .loginForm p, .loginModalContainer .loginModal .signupForm p, .registerModalContainer .loginModal .signupForm p {
  float: left;
  margin: 0;
  color: #9fa8da;
  margin-left: 10px;
}

.loginModalContainer .loginModal .loginForm p .registerLink_error, .registerModalContainer .loginModal .loginForm p .registerLink_error, .loginModalContainer .loginModal .signupForm p .registerLink_error, .registerModalContainer .loginModal .signupForm p .registerLink_error {
  color: red !important;
  font-size: 20px;
}

.loginModalContainer .loginModal .loginForm .btn, .registerModalContainer .loginModal .loginForm .btn, .loginModalContainer .loginModal .signupForm .btn, .registerModalContainer .loginModal .signupForm .btn, .loginModalContainer .loginModal .loginForm .itemDisplay .itemDisplay_One .itemDisplay_textContainer button, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .loginModalContainer .loginModal .loginForm button, .registerModalContainer .loginModal .loginForm .itemDisplay .itemDisplay_One .itemDisplay_textContainer button, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .registerModalContainer .loginModal .loginForm button, .loginModalContainer .loginModal .signupForm .itemDisplay .itemDisplay_One .itemDisplay_textContainer button, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .loginModalContainer .loginModal .signupForm button, .registerModalContainer .loginModal .signupForm .itemDisplay .itemDisplay_One .itemDisplay_textContainer button, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .registerModalContainer .loginModal .signupForm button {
  width: 130px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #7a87cc;
  color: white;
  border-color: #7a87cc;
}

.loginModalContainer .loginModal .loginForm .btn:hover, .registerModalContainer .loginModal .loginForm .btn:hover, .loginModalContainer .loginModal .signupForm .btn:hover, .registerModalContainer .loginModal .signupForm .btn:hover, .loginModalContainer .loginModal .loginForm .itemDisplay .itemDisplay_One .itemDisplay_textContainer button:hover, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .loginModalContainer .loginModal .loginForm button:hover, .registerModalContainer .loginModal .loginForm .itemDisplay .itemDisplay_One .itemDisplay_textContainer button:hover, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .registerModalContainer .loginModal .loginForm button:hover, .loginModalContainer .loginModal .signupForm .itemDisplay .itemDisplay_One .itemDisplay_textContainer button:hover, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .loginModalContainer .loginModal .signupForm button:hover, .registerModalContainer .loginModal .signupForm .itemDisplay .itemDisplay_One .itemDisplay_textContainer button:hover, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .registerModalContainer .loginModal .signupForm button:hover {
  background-color: #fff;
  color: #6876c5;
  border-color: #7a87cc;
}

.loginModalContainer .loginModal .loginForm .btn-secondary, .registerModalContainer .loginModal .loginForm .btn-secondary, .loginModalContainer .loginModal .signupForm .btn-secondary, .registerModalContainer .loginModal .signupForm .btn-secondary {
  background-color: #ffa726;
  border-color: #ffa726;
}

.loginModalContainer .loginModal .loginForm .btn-secondary:hover, .registerModalContainer .loginModal .loginForm .btn-secondary:hover, .loginModalContainer .loginModal .signupForm .btn-secondary:hover, .registerModalContainer .loginModal .signupForm .btn-secondary:hover {
  color: #ffa726;
  border-color: #ffa726;
}

.loginModalContainer .loginModal .loginForm input, .registerModalContainer .loginModal .loginForm input, .loginModalContainer .loginModal .signupForm input, .registerModalContainer .loginModal .signupForm input {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  height: 30px;
  border: none;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 2px solid #d6daef;
}

.loginModalContainer .loginModal .loginForm input:focus, .registerModalContainer .loginModal .loginForm input:focus, .loginModalContainer .loginModal .signupForm input:focus, .registerModalContainer .loginModal .signupForm input:focus {
  outline: 0;
  border-bottom: 2px solid #7a87cc;
}

.loginModalContainer .loginModal .loginForm input:focus::after, .registerModalContainer .loginModal .loginForm input:focus::after, .loginModalContainer .loginModal .signupForm input:focus::after, .registerModalContainer .loginModal .signupForm input:focus::after {
  width: 100%;
}

.loginModalContainer .loginModal .signupForm .loginLink, .registerModalContainer .loginModal .signupForm .loginLink {
  color: #ffbea9;
}

.loginModalContainer .loginModal .signupForm .loginLink a, .registerModalContainer .loginModal .signupForm .loginLink a {
  color: #e64a19;
}

.loginModalContainer .loginModal .signupForm p, .registerModalContainer .loginModal .signupForm p {
  color: #ffbea9;
}

.loginModalContainer .loginModal .signupForm input, .registerModalContainer .loginModal .signupForm input {
  border-color: #ffbea9;
  margin-bottom: 20px;
}

.loginModalContainer .loginModal .signupForm input:focus, .registerModalContainer .loginModal .signupForm input:focus {
  border-color: #e64a19;
}

.registerModalContainer {
  background-image: -o-linear-gradient(-130deg, #ffe5bf, #ffb69f);
  background-image: -moz-linear-gradient(-130deg, #ffe5bf, #ffb69f);
  background-image: -webkit-linear-gradient(-130deg, #ffe5bf, #ffb69f);
  background-image: linear-gradient(-130deg, #ffe5bf, #ffb69f);
}

.activationText {
  color: #7a87cc;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 100px;
  font-size: 20px;
  border: 3px solid #7a87cc;
  padding: 20px;
  line-height: 40px;
}

.activationText a {
  text-decoration: none;
}

.activationText span {
  color: #197bcb;
}

.activationText .btn-resend {
  background-color: #5faceb;
  border-color: #5faceb;
  margin-top: 20px;
}

.activationText .btn-resend:hover {
  color: #3294e5;
}

.btn, .itemDisplay .itemDisplay_One .itemDisplay_textContainer button {
  margin: 0 auto;
  display: block;
  border-radius: 0;
  width: 150px;
  height: 40px;
  background-color: transparent;
  color: white;
  font-size: 17px;
  border: 2px solid white;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .itemDisplay .itemDisplay_One .itemDisplay_textContainer button:hover {
  background-color: #fff;
  color: #6876c5;
  cursor: pointer;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.nav {
  height: 60px;
  line-height: 60px;
  background-color: #5faceb;
  color: white;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.nav .logoContainer {
  float: left;
  margin-left: 5%;
}

.nav .logoContainer h1 {
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Raleway', sans-serif;
}

.nav .loginContainer {
  float: right;
  margin-right: 5%;
  display: inline-block;
  font-size: 1.1rem;
  position: relative;
}

.nav .loginContainer span {
  cursor: pointer;
}

.nav .loginContainer span .accountArrow {
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav .loginContainer span:hover {
  text-decoration: underline;
  color: white;
}

.nav .loginContainer span:hover .accountArrow {
  color: #c4c9e8;
}

.nav .loginContainer a:hover {
  text-decoration: underline;
}

.nav .loginContainer .accountDropdown {
  display: inline-block;
  position: absolute;
  display: none;
  background-color: #fcfcfc;
  padding-left: 45px;
  border: 1px solid #badbf6;
  border-top: none;
  padding-right: 45px;
  margin-left: -15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.nav .loginContainer .accountDropdown a {
  color: #8d97d3;
  width: 100%;
  padding-right: 10px;
  display: inline-block;
}

.nav .loginContainer .accountDropdown hr {
  width: 100%;
  padding-left: 87px;
  margin-left: -45px;
  outline: none;
  border: 1px solid #badbf6;
  margin-bottom: 0;
  margin-top: 0;
}

.searchContainer {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.searchContainer .searchBar {
  margin: auto;
  height: 2vh;
  transition: 0.5s;
}

.searchContainer .searchBar input, .searchContainer .searchBar button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 0;
  -webkit-appearance: none;
  border: 2px solid #e2e2e2;
  color: #969696;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.searchContainer .searchBar input:focus, .searchContainer .searchBar button:focus {
  outline: none;
  border-color: #7a87cc;
}

.searchContainer .searchBar button {
  cursor: pointer;
}

.searchContainer .searchBar input {
  width: 40vw;
}

.searchContainer .searchBar input::placeholder {
  color: #969696;
}

.searchContainer .searchBar button:hover {
  background-color: #7a87cc;
  color: white;
  border-radius: 5px;
  border-color: #7a87cc;
}

.categoryPanelContainer {
  width: 100%;
  background-color: #d5d5d5;
  margin: auto;
  margin-top: 80px;
  height: auto;
}

.categoryPanelContainer .categoryPanel {
  margin: auto;
  width: 90%;
}

.categoryPanelContainer .categoryPanel button {
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  width: 12%;
  border-radius: 0;
  height: 40px;
  border: 0;
  background-color: #d5d5d5;
  color: #7c7c7c;
  margin-left: 0px;
  margin-right: 0px;
  cursor: pointer;
}

.categoryPanelContainer .categoryPanel button:hover {
  background-color: #c9c9c9;
}

.searchContainer {
  width: 100%;
}

.searchContainer .categoryColumn {
  width: 20%;
  margin-top: 30px;
  height: 1000px;
  float: left;
}

.searchContainer .categoryColumn .btn, .searchContainer .categoryColumn .itemDisplay .itemDisplay_One .itemDisplay_textContainer button, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .searchContainer .categoryColumn button {
  background-color: #5faceb;
  color: white;
  border-color: #5faceb;
  margin-top: 30px;
}

.searchContainer .categoryColumn .btn:hover, .searchContainer .categoryColumn .itemDisplay .itemDisplay_One .itemDisplay_textContainer button:hover, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .searchContainer .categoryColumn button:hover {
  background-color: white;
  color: #5faceb;
}

.searchContainer .categoryColumn hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.searchContainer .categoryColumn h2 {
  text-align: center;
  background-color: #5faceb;
  margin-top: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  color: white;
  font-weight: 100;
}

.searchContainer .categoryColumn .categoryPicker p {
  margin-left: 40px;
  font-weight: bolder;
  font-size: 17px;
  margin-bottom: 0;
}

.searchContainer .categoryColumn .filter {
  margin-left: 40px;
}

.searchContainer .categoryColumn .filter p {
  font-size: 16px;
  font-weight: bolder;
}

.searchContainer .categoryColumn .filter label {
  cursor: pointer;
  color: #7c7c7c;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.searchContainer .categoryColumn .filter label:hover {
  color: black;
  outline: green;
}

.searchContainer .categoryColumn .filter input {
  display: inline;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.searchContainer .categoryColumn .price {
  margin-left: 40px;
}

.searchContainer .categoryColumn .price input {
  width: 50px;
  height: 25px;
  font-size: 15px;
  border: 1px solid #e2e2e2;
  display: inline;
}

.searchContainer .categoryColumn .price input:focus {
  outline: none;
  border-color: #5faceb;
}

.searchContainer .itemColumn {
  width: 80%;
  margin-top: 30px;
  height: 1000px;
  float: left;
  background-color: #fcfcfc;
}

.searchContainer .itemColumn .sort {
  margin-left: 50px;
}

.searchContainer .itemColumn .sort p {
  display: inline-block;
}

.searchContainer .itemColumn .sort .btn, .searchContainer .itemColumn .sort .itemDisplay .itemDisplay_One .itemDisplay_textContainer button, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .searchContainer .itemColumn .sort button {
  background-color: #e2e2e2;
  display: inline-block;
  color: #969696;
  border-color: #969696;
  height: 30px;
}

.searchContainer .itemColumn .item {
  width: 100%;
  float: left;
  border: 1px solid #e2e2e2;
}

.searchContainer .itemColumn .item .itemInfo {
  width: 79%;
  display: block;
  float: left;
}

.searchContainer .itemColumn .item .itemInfo a {
  color: blue;
  text-decoration: none;
  padding-left: 50px;
}

.searchContainer .itemColumn .item .itemInfo a:hover {
  text-decoration: underline;
}

.searchContainer .itemColumn .item .itemImg {
  width: 20%;
  max-height: 220px;
  float: left;
  border: 1px solid #e2e2e2;
  display: block;
}

select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' style='fill: grey;' width='30px' height='20px'><polyline points='18,5 9,15 0,5'/></svg>");
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 12px;
  margin-left: 40px;
  margin-bottom: 0;
}

select:focus {
  outline: none;
}

select:hover {
  border-color: #7a87cc;
}

body.sellItemBody {
  background-color: #efefef;
}

.sellInputBlock {
  width: 60%;
  background-color: #fff;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  border-radius: 10px;
}

.sellInputBlock:first-of-type {
  margin-top: 50px;
}

.sellInputBlock .sellInputContent {
  padding-top: 10px;
  padding-left: 40px;
  text-align: center;
}

.sellInputBlock .sellInputContent h2, .sellInputBlock .sellInputContent h3, .sellInputBlock .sellInputContent p, .sellInputBlock .sellInputContent span {
  text-align: left;
}

.sellInputBlock .sellInputContent h3 {
  font-size: 15px;
  margin-bottom: 25px;
  color: #7c7c7c;
}

.sellInputBlock .sellInputContent hr {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 100%;
  margin-left: -40px;
  padding-right: 39px;
  border-color: white;
}

.sellInputBlock .sellInputContent #itemNameInput {
  width: 92%;
  margin-left: -40px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #e2e2e2;
  font-size: 16px;
  padding-left: 15px;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.sellInputBlock .sellInputContent #itemNameInput::placeholder {
  color: #d5d5d5;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.sellInputBlock .sellInputContent #itemNameInput:focus {
  border-color: #7a87cc;
}

.sellInputBlock .sellInputContent #itemNameInput:focus::placeholder {
  color: #b1b9e1;
}

.nameInputIndicator {
  width: 100%;
  display: inline-block;
  text-align: left;
  padding-left: 5px;
  margin-top: 20px;
}

.nameInputIndicator .bar {
  width: 40px;
  display: inline-block;
  background-color: #ffccbc;
  height: 10px;
  border-radius: 5px;
  position: relative;
}

.nameInputIndicator .barFill {
  width: 10px;
  background-color: #f4511e;
  height: 10px;
  position: absolute;
  border-radius: 5px;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nameInputIndicator p {
  display: inline;
  padding-left: 10px;
}

.nameInputIndicator .nameInputIndicatorDetail {
  color: #c9c9c9;
}

.detailsSection .detailsSelectWrap {
  width: 40%;
  margin: auto;
  text-align: left;
  position: relative;
}

.detailsSection .detailsSelectWrap p {
  display: inline-block;
  text-align: left;
}

.detailsSection select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' style='fill: grey;' width='30px' height='20px'><polyline points='18,5 9,15 0,5'/></svg>");
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  position: absolute;
  right: 0;
  color: #555;
  font-size: inherit;
  margin: 20px;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 20px;
  width: 150px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 12px;
}

.detailsSection select:focus {
  outline: none;
}

.detailsSection select:hover {
  border-color: #7a87cc;
}

.detailsSection input[type=text] {
  height: 25px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #e2e2e2;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  right: 0;
  margin-right: 20px;
  font-size: 14px;
  margin-top: 10px;
  width: 140px;
  padding-left: 5px;
}

.detailsSection input[type=text]::placeholder {
  padding-left: 5px;
  color: #e2e2e2;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.detailsSection input[type=text]:hover {
  border-color: #b1b9e1;
}

.detailsSection input[type=text]:hover::placeholder {
  color: #b1b9e1;
}

.detailsSection input[type=text]:focus {
  border-color: #7a87cc;
}

.detailsSection input[type=text]:focus::placeholder {
  color: #7a87cc;
}

.detailsSection .descriptionLabel {
  margin-left: 15%;
}

.detailsSection .descriptionLabel:nth-of-type(2) {
  color: #afafaf;
}

.detailsSection textarea {
  width: 70%;
  resize: none;
  height: 150px;
  border: 2px solid #e2e2e2;
  border-radius: 5px;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

.detailsSection textarea:hover {
  border-color: #b1b9e1;
}

.detailsSection textarea:focus {
  border-color: #7a87cc;
  outline: 0;
}

.pricingBlockContainer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
  margin-top: 40px;
}

.pricingBlockContainer .pricingBlock {
  width: 40%;
  border: 2px solid #e2e2e2;
  margin-left: -40px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}

.pricingBlockContainer .pricingBlock h3 {
  color: black;
  font-size: 18px;
}

.pricingBlockContainer .pricingBlock:hover {
  border-color: #b1b9e1;
}

.pricingBlockContainer .pricingBlock input[type=radio] {
  display: inline-block;
}

.pricingBlockContainer .pricingBlock input[type=number] {
  display: inline-block;
  width: 50%;
  height: 35px;
  border: 2px solid #e2e2e2;
  border-radius: 5px;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  padding-left: 5px;
}

.pricingBlockContainer .pricingBlock input[type=number]:hover {
  border-color: #b1b9e1;
}

.pricingBlockContainer .pricingBlock input[type=number]:focus {
  border-color: #7a87cc;
  outline: 0;
}

.pricingBlockContainer .pricingBlock .icon-dollar-sign {
  border: 2px solid white;
  color: white;
  background-color: #b1b9e1;
  border-radius: 100%;
  padding: 3px;
  margin-left: 20px;
}

.pricingBlockContainer .pricingBlock label {
  margin-right: 15px;
}

.pricingBlockContainer .pricingBlock span {
  display: inline-block;
}

.pricingBlockContainer .pricingBlock h3 {
  display: inline-block;
}

.pricingBlockContainer .pricingBlock-active {
  border-color: #7a87cc;
}

.pricingBlockContainer .pricingBlock-active .icon-dollar-sign {
  border: 2px solid white;
  color: white;
  background-color: #5565be;
}

.pricingBlockContainer .pricingBlock-active input[type=number] {
  border-color: #5565be;
}

.pricingBlockContainer .pricingBlock-active input[type=number]::placeholder {
  color: #9fa8da;
}

.pricingBlockContainer .pricingBlock-active:hover {
  border-color: #5565be;
}

.submitSellBtn {
  color: #5faceb;
  border-color: #5faceb;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.imageDropContainer {
  min-height: 300px;
  border: 2px dashed #e2e2e2;
  text-align: center;
  margin-right: 40px;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.imageDropContainer .imageDropText {
  color: #c9c9c9;
  line-height: 300px;
}

.imageDropHover {
  border: 2px dashed #4caf50;
  background-color: #d9eeda;
}

.imageDropHover .imageDropText {
  color: black;
  text-decoration: underline;
}

.imageDropPreviewContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.imageDropPreviewContainer h3 {
  width: 100%;
}

.imageDropPreviewContainer img {
  width: 33%;
  flex-basis: auto;
  height: auto;
}

.imageDropPreviewContainer h3.imageDrop-error {
  color: #f44336;
  border: 1px solid #f44336;
  margin-right: 40px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.itemDisplay {
  margin: auto;
  width: 100%;
  background-color: #fff;
  position: relative;
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.itemDisplay:hover .carouselButton {
  opacity: 1;
}

.itemDisplay .itemDisplay_One {
  width: 70%;
  margin: auto;
  height: 300px;
  overflow: hidden;
}

.itemDisplay .itemDisplay_One .itemDisplay_textContainer {
  width: 40%;
  height: 100%;
  position: absolute;
  padding-left: 50px;
  color: white;
}

.itemDisplay .itemDisplay_One .itemDisplay_textContainer button {
  margin-top: 0;
  position: absolute;
  display: block;
  bottom: 40px;
  left: 50%;
  margin-left: -80px;
}

.itemDisplay .itemDisplay_One .itemDisplay_textContainer h2 {
  font-size: 50px;
  margin: 0;
  margin-top: 20px;
}

.itemDisplay .itemDisplay_One .itemDisplay_textContainer h3 {
  font-size: 20px;
  padding-right: 50px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.itemDisplay .itemDisplay_One img {
  width: auto;
  float: right;
  height: 300px;
}

.recentlyViewed {
  margin-top: 50px;
}

.recentlyViewed h2 {
  margin-left: 50px;
}

.recentlyViewed .recentlyViewedItem_row {
  width: 80%;
  margin: auto;
}

.recentlyViewed .recentlyViewedItem_row .recentlyViewedItem {
  height: 300px;
  width: 250px;
  background-color: #fcfcfc;
  display: inline-block;
  border: 1px solid #fcfcfc;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.recentlyViewed .recentlyViewedItem_row .recentlyViewedItem img {
  display: block;
  border: 1px solid #f9f9f9;
  margin: auto;
  height: auto;
  max-height: 200px;
  margin-top: 10px;
}

.recentlyViewed .recentlyViewedItem_row .recentlyViewedItem h3 {
  color: #7c7c7c;
}

.recentlyViewed .recentlyViewedItem_row .recentlyViewedItem h4 {
  color: #afafaf;
}

.recentlyViewed .recentlyViewedItem_row .recentlyViewedItem:hover {
  border: 1px solid #e2e2e2;
}

.indexMessage {
  text-align: center;
  border: 2px solid #4caf50;
  padding: 10px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 8px;
  color: #2d682f;
}

.carouselButton {
  position: absolute;
  right: 30px;
  bottom: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  display: block;
  margin-bottom: -20px;
  cursor: pointer;
  border: 1px solid #e2e2e2;
  color: #e2e2e2;
  background-color: transparent;
  opacity: 0;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.carouselButton:hover {
  color: #5faceb;
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */