@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?vcj2jq");
  src: url("../fonts/icomoon.eot?vcj2jq#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?vcj2jq") format("truetype"), url("../fonts/icomoon.woff?vcj2jq") format("woff"), url("../fonts/icomoon.svg?vcj2jq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}

.icon-arrow-right:before {
  content: "\e901";
}

.icon-bookmark:before {
  content: "\e902";
}

.icon-check:before {
  content: "\e903";
}

.icon-dollar-sign:before {
  content: "\e904";
}

.icon-heart:before {
  content: "\e905";
}

.icon-help-circle:before {
  content: "\e906";
}

.icon-home:before {
  content: "\e907";
}

.icon-mail:before {
  content: "\e908";
}

.icon-plus:before {
  content: "\e909";
}

.icon-settings:before {
  content: "\e90a";
}

.icon-shopping-cart2:before {
  content: "\e90b";
}

.icon-thumbs-down:before {
  content: "\e90c";
}

.icon-thumbs-up:before {
  content: "\e90d";
}

.icon-trash-2:before {
  content: "\e90e";
}

.icon-truck:before {
  content: "\e90f";
}

.icon-user:before {
  content: "\e910";
}

.icon-users:before {
  content: "\e911";
}

.icon-x:before {
  content: "\e912";
}

.icon-shopping-bag:before {
  content: "\e913";
}

.icon-shopping-cart:before {
  content: "\e914";
}

.icon-search:before {
  content: "\e915";
}

.icon-lock:before {
  content: "\e916";
}

.loginModalContainer, .registerModalContainer {
  position: absolute;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  margin: 0;
  background-image: -o-linear-gradient(45deg, #c4e3fc, #b1b9e1);
  background-image: -moz-linear-gradient(45deg, #c4e3fc, #b1b9e1);
  background-image: -webkit-linear-gradient(45deg, #c4e3fc, #b1b9e1);
  background-image: linear-gradient(45deg, #c4e3fc, #b1b9e1);
}

.loginModalContainer .loginModal, .registerModalContainer .loginModal {
  height: 80vh;
  width: 35vw;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-53%);
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.loginModalContainer .loginModal .registerLink, .registerModalContainer .loginModal .registerLink, .loginModalContainer .loginModal .signupForm .loginLink, .registerModalContainer .loginModal .signupForm .loginLink {
  text-align: center;
  width: 100%;
  padding-top: 40px;
  margin-left: 10px;
}

.loginModalContainer .loginModal h1, .registerModalContainer .loginModal h1 {
  background-color: #64B5F6;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.loginModalContainer .loginModal h1 a, .registerModalContainer .loginModal h1 a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: white;
}

.loginModalContainer .loginModal h1 a:hover, .registerModalContainer .loginModal h1 a:hover {
  text-decoration: underline;
}

.loginModalContainer .loginModal h2, .registerModalContainer .loginModal h2 {
  background-image: -o-linear-gradient(140deg, #64B5F6, #084e86);
  background-image: -moz-linear-gradient(140deg, #64B5F6, #084e86);
  background-image: -webkit-linear-gradient(140deg, #64B5F6, #084e86);
  background-image: linear-gradient(140deg, #64B5F6, #084e86);
  width: auto;
  max-width: 60%;
  margin: 0 auto;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.loginModalContainer .loginModal .signupTitle, .registerModalContainer .loginModal .signupTitle {
  background-image: -o-linear-gradient(140deg, #ffa726, #ff7043);
  background-image: -moz-linear-gradient(140deg, #ffa726, #ff7043);
  background-image: -webkit-linear-gradient(140deg, #ffa726, #ff7043);
  background-image: linear-gradient(140deg, #ffa726, #ff7043);
}

.loginModalContainer .loginModal .loginForm, .registerModalContainer .loginModal .loginForm, .loginModalContainer .loginModal .signupForm, .registerModalContainer .loginModal .signupForm {
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
}

.loginModalContainer .loginModal .loginForm p, .registerModalContainer .loginModal .loginForm p, .loginModalContainer .loginModal .signupForm p, .registerModalContainer .loginModal .signupForm p {
  float: left;
  margin: 0;
  color: #9fa8da;
  margin-left: 10px;
}

.loginModalContainer .loginModal .loginForm p .registerLink_error, .registerModalContainer .loginModal .loginForm p .registerLink_error, .loginModalContainer .loginModal .signupForm p .registerLink_error, .registerModalContainer .loginModal .signupForm p .registerLink_error {
  color: red !important;
  font-size: 20px;
}

.loginModalContainer .loginModal .loginForm .btn, .registerModalContainer .loginModal .loginForm .btn, .loginModalContainer .loginModal .signupForm .btn, .registerModalContainer .loginModal .signupForm .btn, .loginModalContainer .loginModal .loginForm .itemDisplay .itemDisplay_One .itemDisplay_textContainer button, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .loginModalContainer .loginModal .loginForm button, .registerModalContainer .loginModal .loginForm .itemDisplay .itemDisplay_One .itemDisplay_textContainer button, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .registerModalContainer .loginModal .loginForm button, .loginModalContainer .loginModal .signupForm .itemDisplay .itemDisplay_One .itemDisplay_textContainer button, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .loginModalContainer .loginModal .signupForm button, .registerModalContainer .loginModal .signupForm .itemDisplay .itemDisplay_One .itemDisplay_textContainer button, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .registerModalContainer .loginModal .signupForm button {
  width: 130px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #7a87cc;
  color: white;
  border-color: #7a87cc;
}

.loginModalContainer .loginModal .loginForm .btn:hover, .registerModalContainer .loginModal .loginForm .btn:hover, .loginModalContainer .loginModal .signupForm .btn:hover, .registerModalContainer .loginModal .signupForm .btn:hover, .loginModalContainer .loginModal .loginForm .itemDisplay .itemDisplay_One .itemDisplay_textContainer button:hover, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .loginModalContainer .loginModal .loginForm button:hover, .registerModalContainer .loginModal .loginForm .itemDisplay .itemDisplay_One .itemDisplay_textContainer button:hover, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .registerModalContainer .loginModal .loginForm button:hover, .loginModalContainer .loginModal .signupForm .itemDisplay .itemDisplay_One .itemDisplay_textContainer button:hover, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .loginModalContainer .loginModal .signupForm button:hover, .registerModalContainer .loginModal .signupForm .itemDisplay .itemDisplay_One .itemDisplay_textContainer button:hover, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .registerModalContainer .loginModal .signupForm button:hover {
  background-color: #fff;
  color: #6876c5;
  border-color: #7a87cc;
}

.loginModalContainer .loginModal .loginForm .btn-secondary, .registerModalContainer .loginModal .loginForm .btn-secondary, .loginModalContainer .loginModal .signupForm .btn-secondary, .registerModalContainer .loginModal .signupForm .btn-secondary {
  background-color: #ffa726;
  border-color: #ffa726;
}

.loginModalContainer .loginModal .loginForm .btn-secondary:hover, .registerModalContainer .loginModal .loginForm .btn-secondary:hover, .loginModalContainer .loginModal .signupForm .btn-secondary:hover, .registerModalContainer .loginModal .signupForm .btn-secondary:hover {
  color: #ffa726;
  border-color: #ffa726;
}

.loginModalContainer .loginModal .loginForm input, .registerModalContainer .loginModal .loginForm input, .loginModalContainer .loginModal .signupForm input, .registerModalContainer .loginModal .signupForm input {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  height: 30px;
  border: none;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 2px solid #d6daef;
}

.loginModalContainer .loginModal .loginForm input:focus, .registerModalContainer .loginModal .loginForm input:focus, .loginModalContainer .loginModal .signupForm input:focus, .registerModalContainer .loginModal .signupForm input:focus {
  outline: 0;
  border-bottom: 2px solid #7a87cc;
}

.loginModalContainer .loginModal .loginForm input:focus::after, .registerModalContainer .loginModal .loginForm input:focus::after, .loginModalContainer .loginModal .signupForm input:focus::after, .registerModalContainer .loginModal .signupForm input:focus::after {
  width: 100%;
}

.loginModalContainer .loginModal .signupForm .loginLink, .registerModalContainer .loginModal .signupForm .loginLink {
  color: #ffbea9;
}

.loginModalContainer .loginModal .signupForm .loginLink a, .registerModalContainer .loginModal .signupForm .loginLink a {
  color: #e64a19;
}

.loginModalContainer .loginModal .signupForm p, .registerModalContainer .loginModal .signupForm p {
  color: #ffbea9;
}

.loginModalContainer .loginModal .signupForm input, .registerModalContainer .loginModal .signupForm input {
  border-color: #ffbea9;
  margin-bottom: 20px;
}

.loginModalContainer .loginModal .signupForm input:focus, .registerModalContainer .loginModal .signupForm input:focus {
  border-color: #e64a19;
}

.registerModalContainer {
  background-image: -o-linear-gradient(-130deg, #ffe5bf, #ffb69f);
  background-image: -moz-linear-gradient(-130deg, #ffe5bf, #ffb69f);
  background-image: -webkit-linear-gradient(-130deg, #ffe5bf, #ffb69f);
  background-image: linear-gradient(-130deg, #ffe5bf, #ffb69f);
}

.btn, .itemDisplay .itemDisplay_One .itemDisplay_textContainer button {
  margin: 0 auto;
  display: block;
  border-radius: 0;
  width: 150px;
  height: 40px;
  background-color: transparent;
  color: white;
  font-size: 17px;
  border: 2px solid white;
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .itemDisplay .itemDisplay_One .itemDisplay_textContainer button:hover {
  background-color: #fff;
  color: #6876c5;
  cursor: pointer;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.nav {
  height: 60px;
  line-height: 60px;
  background-color: #337afd;
  color: white;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.nav .logoContainer {
  float: left;
  margin-left: 5%;
}

.nav .logoContainer h1 {
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Raleway', sans-serif;
}

.nav .loginContainer {
  float: right;
  margin-right: 5%;
  display: inline-block;
  font-size: 1.1rem;
}

.nav .loginContainer a:last-of-type {
  color: #e9ebf6;
}

.nav .loginContainer a:hover {
  text-decoration: underline;
}

.searchContainer {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.searchContainer .searchBar {
  margin: auto;
  height: 2vh;
  transition: 0.5s;
}

.searchContainer .searchBar input, .searchContainer .searchBar button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 0;
  -webkit-appearance: none;
  border: 2px solid #e2e2e2;
  color: #969696;
  transition: 0.3s;
}

.searchContainer .searchBar input:focus, .searchContainer .searchBar button:focus {
  outline: none;
  border-color: #7a87cc;
}

.searchContainer .searchBar input {
  width: 40vw;
}

.searchContainer .searchBar input::placeholder {
  color: #969696;
}

.searchContainer .searchBar button:hover {
  background-color: #7a87cc;
  color: white;
  border-radius: 100%;
  padding-left: 12px;
  padding-right: 12px;
  border-color: white;
  border-left: 4px solid white;
  border-right: 4px solid white;
  margin-left: 1px;
  outline: none;
}

.categoryPanelContainer {
  width: 100%;
  background-color: #d5d5d5;
  margin: auto;
  margin-top: 80px;
  height: auto;
}

.categoryPanelContainer .categoryPanel {
  margin: auto;
  width: 90%;
}

.categoryPanelContainer .categoryPanel button {
  transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  width: 12%;
  border-radius: 0;
  height: 40px;
  border: 0;
  background-color: #d5d5d5;
  color: #7c7c7c;
  margin-left: 0px;
  margin-right: 0px;
  cursor: pointer;
}

.categoryPanelContainer .categoryPanel button:hover {
  background-color: #c9c9c9;
}

.searchContainer {
  width: 100%;
}

.searchContainer .categoryColumn {
  width: 20%;
  margin-top: 30px;
  height: 1000px;
  float: left;
}

.searchContainer .categoryColumn .btn, .searchContainer .categoryColumn .itemDisplay .itemDisplay_One .itemDisplay_textContainer button, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .searchContainer .categoryColumn button {
  background-color: #64B5F6;
  color: white;
  border-color: #64B5F6;
  margin-top: 30px;
}

.searchContainer .categoryColumn .btn:hover, .searchContainer .categoryColumn .itemDisplay .itemDisplay_One .itemDisplay_textContainer button:hover, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .searchContainer .categoryColumn button:hover {
  background-color: white;
  color: #64B5F6;
}

.searchContainer .categoryColumn hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.searchContainer .categoryColumn h2 {
  text-align: center;
  background-color: #64B5F6;
  margin-top: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  color: white;
  font-weight: 100;
}

.searchContainer .categoryColumn .categoryPicker p {
  margin-left: 40px;
}

.searchContainer .categoryColumn .categoryPicker li {
  list-style: none;
}

.searchContainer .categoryColumn .categoryPicker a {
  text-decoration: none;
  color: #64B5F6;
}

.searchContainer .categoryColumn .categoryPicker a:hover {
  text-decoration: underline;
}

.searchContainer .categoryColumn .filter {
  margin-left: 40px;
  width: 100%;
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.searchContainer .categoryColumn .filter .container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.searchContainer .categoryColumn .filter .container p {
  margin-left: 30px;
}

.searchContainer .categoryColumn .filter .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.searchContainer .categoryColumn .filter .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #e2e2e2;
  border-radius: 100%;
}

.searchContainer .categoryColumn .filter .container input:checked ~ .checkmark {
  background-color: #64B5F6;
}

.searchContainer .categoryColumn .filter .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.searchContainer .categoryColumn .filter .container input:checked ~ .checkmark:after {
  display: block;
}

.searchContainer .categoryColumn .filter .container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.searchContainer .categoryColumn .price input {
  width: 40px;
  height: 25px;
  font-size: 15px;
  border: 1px solid #e2e2e2;
}

.searchContainer .categoryColumn .price input:focus {
  outline: none;
  border-color: #64B5F6;
}

.searchContainer .itemColumn {
  width: 80%;
  margin-top: 30px;
  height: 1000px;
  float: left;
  background-color: #fcfcfc;
}

.searchContainer .itemColumn .sort {
  margin-left: 50px;
}

.searchContainer .itemColumn .sort p {
  display: inline-block;
}

.searchContainer .itemColumn .sort .btn, .searchContainer .itemColumn .sort .itemDisplay .itemDisplay_One .itemDisplay_textContainer button, .itemDisplay .itemDisplay_One .itemDisplay_textContainer .searchContainer .itemColumn .sort button {
  background-color: #e2e2e2;
  display: inline-block;
  color: #969696;
  border-color: #969696;
  height: 30px;
}

.searchContainer .itemColumn .item {
  width: 100%;
  float: left;
  border: 1px solid #e2e2e2;
}

.searchContainer .itemColumn .item .itemInfo {
  width: 79%;
  display: block;
  float: left;
}

.searchContainer .itemColumn .item .itemInfo a {
  color: blue;
  text-decoration: none;
  padding-left: 50px;
}

.searchContainer .itemColumn .item .itemInfo a:hover {
  text-decoration: underline;
}

.searchContainer .itemColumn .item .itemImg {
  width: 20%;
  max-height: 220px;
  float: left;
  border: 1px solid #e2e2e2;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.itemDisplay {
  margin: auto;
  width: 100%;
  background-color: #7a87cc;
}

.itemDisplay .itemDisplay_One {
  width: 70%;
  margin: auto;
  height: 300px;
  overflow: hidden;
}

.itemDisplay .itemDisplay_One .itemDisplay_textContainer {
  width: 33%;
  height: 100%;
  position: absolute;
  padding-left: 50px;
  color: white;
}

.itemDisplay .itemDisplay_One .itemDisplay_textContainer button {
  margin-top: 0;
}

.itemDisplay .itemDisplay_One .itemDisplay_textContainer h2 {
  font-size: 50px;
  margin: 0;
  margin-top: 20px;
}

.itemDisplay .itemDisplay_One .itemDisplay_textContainer h3 {
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.itemDisplay .itemDisplay_One img {
  width: auto;
  float: right;
  height: 300px;
}

.recentlyViewed {
  margin-top: 50px;
}

.recentlyViewed h2 {
  margin-left: 50px;
}

.recentlyViewed .recentlyViewedItem_row {
  width: 80%;
  margin: auto;
}

.recentlyViewed .recentlyViewedItem_row .recentlyViewedItem {
  height: 300px;
  width: 250px;
  background-color: #fcfcfc;
  display: inline-block;
  border: 1px solid #fcfcfc;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.recentlyViewed .recentlyViewedItem_row .recentlyViewedItem img {
  display: block;
  border: 1px solid #f9f9f9;
  margin: auto;
  height: auto;
  max-height: 200px;
  margin-top: 10px;
}

.recentlyViewed .recentlyViewedItem_row .recentlyViewedItem h3 {
  color: #7c7c7c;
}

.recentlyViewed .recentlyViewedItem_row .recentlyViewedItem h4 {
  color: #afafaf;
}

.recentlyViewed .recentlyViewedItem_row .recentlyViewedItem:hover {
  border: 1px solid #e2e2e2;
}
/*# sourceMappingURL=style.css.map */